    .img-thumbs {
        
    }

/*    .container-i {
        width: 200px;
        height: 200px;
        display: table;
        background-color: #000;         
    }

    .container-i .image-container {
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }

    .container-i .image-container img {
        max-width: 200px;
        max-height: 200px;        
    }*/